* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Lucida Grande, Lucida Sans Unicode, Verdana, Helvetica, Arial, sans-serif;;
    font-weight: 400;
    font-size: 100%;
    background: #FFFFE0;
}

*, html {
    --primaryGradient: linear-gradient(93.12deg, #581B98 0.52%, #9C1DE7 100%);
    --secondaryGradient: linear-gradient(268.91deg, #581B98 -2.14%, #9C1DE7 99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: #581B98;
}

/* Homepage
=============== */

#logo{
  display: block;
  margin-left: auto;
  margin-top: 11px;
  margin-right: auto;
  width: 90%;
  height: auto;
}

.header_navbar {
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5px;
    background-color:#6B8E23;
    font-size: 70%;
    font-weight: 600;
}
/*
.header_navbar li {
    
  display: inline;
  float: left;
}

.header_navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header_navbar a{
  display: block;
  padding: 8px;
}*/

.header_navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header_navbar li {
  float: left;
}

.header_navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 9px 13px;
  text-decoration: none;
}

.header_navbar li a:hover {
  background-color: #111;
  cursor: pointer;
}
/*
.header_navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

.header_navbar li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

*/


/* Change the link color on hover */
.header_navbar li a:hover {
  background-color: #555;
  color: white;
}

.Sidebar{
    width: 250px;
    border: 5px #FFFFE0;
    height: 950px;
    
    position: sticky;
    left: 5%;
}

.Sidebox{
    width: 220px;
    border: 1px solid #f7f7f7;
    border-radius: 6px;
    margin: 0 auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin: 10px;
    transition: 0.3s;
    position: absolute;
    left: 10%;
}


.Sidebox_header{
    background-color: #6B8E23;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 210px;
    color: white;
    text-align: right;
    padding: 10px;
    margin: 5px;
}

.Sidebox_content{
    height: 60px;
    padding: 20px 0;
    text-align: center;
    overflow: hidden;
    background-color: white;

}

#Sidebox_content_btn{
    border: 0;
    outline: none;
    background-color: white;
    cursor: pointer;
    color: red;
    font-size: 14px;
    font-weight: 550;
}

.Sidebox2nd{
    width: 220px;
    border: 1px solid #f7f7f7;
    border-radius: 6px;
    margin: 0 auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin: 10px;
    transition: 0.3s;
    position: relative;
    left: 9.8%;
    top: 10%;
}

.Sidebox2nd #partioning {
    width: 195px;
    border: 1px dotted #6B8E23;
    height: 5px;
    position: absolute;
    left: 7%;
}

.Sidebox2nd .Sidebox2nd_heading {
    color: #890000;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 7px;
}

.Sidebox2nd_header{
    background-color: #6B8E23;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 210px;
    color: white;
    text-align: right;
    padding: 10px;
    margin: 5px;
}

.scroll_text{
    text-align: center;
    height: 450px;
    /*overflow: hidden;*/
    font-size: small;
    padding: 2px 20px;
    color: red;
    position: relative;
    font-weight: bold;
    background-color: white;
}

.scroll_text #mech_scroll{
    color: blue;
    text-decoration: underline;
}




/**/
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

.img_pos{
    position: absolute;
    float: center;
    max-width: 651px;
    border: 1px solid #FFFFE0;
    bottom: 0% ;
    top: 60%;
    left: 25%;
    margin: auto;
}

/* Slideshow container */
.slideshow-container {
  max-width: 650px;
  float: center;
  margin: auto;
  position: relative;

}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  display: none;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: none;
  transition: background-color 4s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 0.6s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/**/






/* =============================================================================================================*/

/* CHATBOX
=============== */
.chatbox {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

/* CONTENT IS CLOSE */
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 300px;
    height: 350px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-40px);
    z-index: 123456;
    opacity: 1;

}

/* BUTTON */
.chatbox__button {
    text-align: right;
}

.send__button {
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


/* HEADER */
.chatbox__header {
    position: fixed;
    top: 0;
    background: orange;
}

/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item {
    background: orange;
    max-width: 60.6%;
    width: fit-content;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
    position: fixed;
    bottom: 0;
    width: 350px;
}

.chatbox__support {
    background: #f9f9f9;
    height: 450px;
    width: 350px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* HEADER */
.chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
    margin-right: 10px;
}

.chatbox__heading--header {
    font-size: 1.2rem;
    color: white;
}

.chatbox__description--header {
    font-size: .9rem;
    color: white;
}

/* Messages */
.chatbox__messages {
    padding:0 20px;
    padding-bottom: 90px;
}

.messages__item {
    margin-top: 10px;
    background: #E0E0E0;
    padding: 8px 12px;
    max-width: 70%;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary);
    color: white;
}

/* FOOTER */
.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
}

.chatbox__footer input {
    width: 80%;
    border: none;
    padding: 10px 10px;
    border-radius: 30px;
    text-align: left;
}

.chatbox__send--footer {
    color: white;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px;
    background: white;
    position: fixed;
    bottom: 15px;
    right: 15px;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
